* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #282828;
  color: rgb(230, 230, 230);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
}

header {
  font-size: 2rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 640px) {
  header {
    font-size: 1.3rem;
  }
  form {
    flex-direction: column;
  }

  form input {
    max-width: 90%;
  }

  form button {
    transform: translateX(180px) translateY(-53px);
  }
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  border-radius: 6px;
  margin-right: 0.5rem;
  background: rgb(230, 230, 230);
  outline: none;
}
form button {
  color: #9d47ff;
  background: rgb(230, 230, 230);
  cursor: pointer;
  border-radius: 6px;
  transition: all 0.3s ease;
}
form button:hover {
  background: #9d47ff;
  color: rgb(230, 230, 230);
}
.todo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: rgb(230, 230, 230);
  font-size: 1.5rem;
  color: black;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}
.filter-todo {
  padding: 1rem;
}
.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background: #9d47ff;
  color: rgb(230, 230, 230);
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.complete-btn {
  background: rgb(11, 212, 162);
}
.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

/*CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

/* Custom Select */
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: #9d47ff;
  background:rgb(230, 230, 230);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
  border-radius: 6px;
  width: 12rem;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: #9d47ff;
  cursor: pointer;
  pointer-events: none;
}

.animateLeft {
  transform: translateX(-20px);
  opacity: 0;
  animation: animateLeft 0.3s forwards;
}

@keyframes animateLeft {
  to {
    transform: initial;
    opacity: initial;
  }
}

.trash-btn[animate='1'] {
  transform: translateX(20px);
  opacity: 0;
  animation: animateRight 0.3s forwards;
}

@keyframes animateRight {
  to {
    transform: initial;
    opacity: initial;
  }
}
